.tr-custom-section {
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #000;
  color: #333;
}
.tr-container {
  margin-top: 150px !important;
  background-color: #232323;
  max-width: 1200px;
  margin: 50px auto;
  padding: 10px;
}
.tr-heading-container {
  color: white;
  max-width: 1200px;
  display: block;
  text-align: center;
  margin: 50px auto -35px auto;
  padding: 10px;
  font-size: 36px;
  font-weight: 700;
}
.text-white {
  color: white;
}
.tr-vehicle-selector-wrapper {
  background-color: black;
  max-width: 1200px;
  margin: 50px auto;
}
.tr-vehicle-selector {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  scrollbar-width: none; /* Firefox */
}
.tr-vehicle-selector::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.tr-vehicle-btn {
  flex: 0 0 auto;
  background: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: "Arial Black", sans-serif;
  font-size: 75px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
}

.tr-vehicle-btn img {
  width: 170px;
  height: 85px;
  transition: transform 0.3s ease;
}

.tr-vehicle-btn span {
  margin-top: 5px;
  font-size: 12px;
  white-space: nowrap;
  font-style: italic;
}

.tr-vehicle-btn.active span {
  border-bottom: 2px solid red;
}

.tr-vehicle-btn:hover img {
  transform: scale(1.05);
}

.tr-image-map-wrapper {
  margin: -130px auto 0px auto;
  position: relative;
  width: 80%;
}
.tr-image-map-wrapper img {
  width: 100%;
  display: block;
  height: auto;
}
.tr-marker {
  position: absolute;
  color: white;
  border-radius: 50%;
  border: 3px solid #f82930;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}
.tr-marker:hover,
.tr-marker.active {
  background-color: #f82930;
}
.tr-card-carousel {
  padding: 10px;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  gap: 10px;
  margin-top: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tr-card-carousel::-webkit-scrollbar {
  display: none;
}
.tr-card {
  position: relative;
  max-width: 170px;
  flex: 0 0 auto;
  background: white;
  border: 4px solid #232323;
  overflow: hidden;
  transition: transform 0.2s, border-color 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.tr-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 7.5px 10px;
}

.tr-card-info {
  flex-grow: 1;
}

.tr-card-body h4 {
  font-weight: bold;
  margin: 5px 0;
  color: #111;
  font-size: 15px;
}

.tr-card-body p {
  color: #444;
  font-style: italic;
  margin: 0;
}

/* Badge */
.tr-card-badge {
  position: absolute;
  top: 0;
  left: 0;
  background: #f82930;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 17px;
  padding: 5px 15px 5px 12px;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  z-index: 2;
}

.tr-card.active {
  border-color: #f82930;
}

.tr-card img {
  width: 100%;
  height: auto;
  display: block;
}

/* Button styles */
.tr-view-btn {
  justify-content: center;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  color: #f82930;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 10px;
  transition: color 0.2s;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.tr-view-btn span {
  margin-left: 6px;
  margin-top: -2px;
  font-size: 15px;
  transform: translateX(0);
  transition: transform 0.2s;
}

.tr-text-decoration-none {
  text-decoration: none;
  cursor: auto;
}

/* On hover: change color and shift arrow */
.tr-view-btn:hover {
  color: #df1f26 !important;
}

.tr-view-btn:hover span {
  transform: translateX(5px);
}

.tr-main-image-carousel {
  position: relative;
  overflow: hidden;
}

.tr-carousel-images {
  display: flex;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 100%;
}

.tr-carousel-images.fade {
  opacity: 0;
}

.tr-carousel-images img {
  min-width: 100%;
  height: auto;
  display: block;
}

.tr-carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: red;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.tr-carousel-arrow.left {
  left: 10px;
  z-index: 1;
}

.tr-carousel-arrow.right {
  right: 10px;
}

@media (max-width: 950px) {
  .tr-vehicle-btn img {
    width: 100px;
    height: 50px;
  }
  .tr-heading {
    font-size: 35px;
  }
}

@media (max-width: 1024px) {
  .tr-card {
    max-width: 140px;
  }
  .tr-marker {
    width: 42px;
    height: 42px;
    font-size: 20px;
  }
  .tr-carousel-arrow {
    display: none;
  }
  .tr-view-btn {
    letter-spacing: 0;
    margin-top: 10px;
    padding: 0px 0px 10px 0px;
  }
  .tr-view-btn span {
    margin-top: -2px;
    font-size: 12px;
  }
}

/* Tablet View */
@media (max-width: 768px) {
  .tr-container {
    padding: 7.5px;
  }
  .tr-vehicle-selector {
    flex-wrap: wrap;
  }
  .tr-card {
    max-width: 150px;
  }
  .tr-marker {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
  .tr-card-body h4 {
    font-size: 15px !important;
    padding: 3px 2px;
  }
  .tr-card-body p {
    font-size: 15px;
  }
  .tr-vehicle-btn img {
    width: 65px;
    height: 30px;
  }
  .tr-vehicle-btn span {
    font-size: 13px;
  }
  .tr-card-badge {
    font-size: 13px;
    padding: 5px 13px 7px 11px;
  }
  .tr-heading {
    font-size: 30px;
  }
}

/* Mobile View */
@media (max-width: 480px) {
  .tr-card {
    max-width: 150px;
  }
  .tr-marker {
    width: 27px;
    height: 27px;
    font-size: 13px;
  }
  .tr-card-body h4 {
    font-size: 13px;
  }
  .tr-card-body p {
    font-size: 15px;
  }
  .tr-vehicle-selector {
    gap: 0;
  }
  .tr-vehicle-btn img {
    width: 45px;
    height: 30px;
  }
  .tr-vehicle-btn {
    font-size: 5px;
  }
  .tr-vehicle-btn span {
    font-size: 11px;
  }
  .tr-card-badge {
    font-size: 12px;
    padding: 5px 11px 7px 9px;
  }
}

@media (max-width: 365px) {
  .tr-vehicle-btn span {
    font-size: 9px;
  }
  .tr-vehicle-btn img {
    height: 25px;
  }
}

@media (max-width: 335px) {
  .tr-vehicle-btn span {
    font-size: 8px;
  }
}

/* Loader CSS */
.loader {
  margin-top: 30px;
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#f82930 0 0);
  background: var(--c), var(--c), var(--c);
  animation: l16-1 1s infinite, l16-2 1s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}
@keyframes l16-1 {
  0%,
  100% {
    background-size: 20% 100%;
  }
  33%,
  66% {
    background-size: 20% 40%;
  }
}
@keyframes l16-2 {
  0%,
  33% {
    background-position: 0 0, 50% 100%, 100% 0;
  }
  66%,
  100% {
    background-position: 0 100%, 50% 0, 100% 100%;
  }
}
